@page
@model MyRazorPagesApp.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="bg-gray-100">Index</h1>

<p class="bg-gray-100">
    <a  asp-page="Create">Create New</a>
</p>
<table class="table bg-gray-100">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].PostType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].CreatedDate)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
         
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
